.comment {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    border-bottom: 1px var(--grey-1) solid;
    padding-bottom: 2rem;
}

.comment__image-wrapper {
    position: relative;
    width: min(15%, 5rem);
    padding-bottom: min(15%, 5rem);
    height: 0;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.comment__image-wrapper,
.comment__author-nickname,
.comment__delete-btn {
    cursor: pointer;
}

.comment__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.comment__text-container {
    width: 80%;
}

.comment__text-container div {
    display: flex;
    align-items: center;
}

.comment__author-nickname {
    margin: 1rem 1rem 1rem 0;
    font-style:italic;
}

.comment__date {
    font-weight: 200;
    font-size: 0.9rem;
    margin: 1rem;
    background-color: var(--grey-1);
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.comment__delete-btn {
    width: 5%;
    transition: transform 200ms;
}

.comment__delete-btn:hover {
    transform: scale(1.05);
}