.post-detail {
    padding-bottom: 3rem;
}

.post-detail__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    margin: 3rem;
    font-size: 2.5rem;
    font-weight: 400;
}

.header__author {
    cursor: pointer;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__author img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    border-block: solid var(--grey-1) 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header__author h2 {
    margin: 1rem;
    font-weight: 300;
}

.post-detail__image-wrapper {
    width: 100%;
    border-block: 1px var(--grey-1) solid;    
    display: flex;
    justify-content: center;
}

.post-detail__image {
    max-height: 40rem;
    max-width: 100%;
}

.post-detail__description {
    margin: 2rem auto;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 90%;
}

.post-detail__btns {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.post-detail__btn {
    width: 5rem;
    margin: 0 0.3rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-2);
    color: var(--text);
    border: var(--grey-1) solid 1px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.post-detail__btn span {
    margin-left: 0.5rem;
}

@media (max-width: 60rem) {
    .header__title {
        font-size: 2rem;
        text-align: center;
    }

    .header__author, .header__title {
        margin: 1rem;
    }
}

@media (max-width: 30rem) {
    .post-detail__header {
        display: block;
    }

    .post-detail__description {
        width: 95%;
        word-wrap: break-word;
    }
    
}