.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.search-bar__grid-container {
    width: 100%;
    display: flex;
    align-items: stretch;
}
.search-bar__search-input {
    width: 90%;
    margin: 0 !important;
    background-color: #fefefe;
    border-radius: 8px;
}

.search-bar__btn {
    background-color: var(--blue-1) !important;
    margin: 0!important;
}
