.edit-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post__form {
    display: grid;
    gap: 1rem;
}

.edit-post__return-btn {
    font-weight: bold;
    font-size: 1rem;
    font-style: italic;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
}