.grid-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 5rem 18rem auto;
  min-height: 30rem;
  max-width: 90rem;
  margin: 2.5rem auto;
  gap: 2rem;
}

.grid-container__main-section {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-container__profile-card {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

.grid-container__categories {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-container__search-bar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
}

.form-element, .form-button {
  font-family: 'Montserrat', 'sans-serif';
  border: 1px #ccc solid;
  transition: 700ms all;
}

.form-element:focus {
  outline: solid 1px rgb(65, 65, 65);
}

.form-element:focus,
.form-element:hover, .form-button:hover   {
  box-shadow: rgba(0,0,0,0.15) 0.5rem 0.5rem 0.5rem;
}

.form-element {
  border-radius: 0.5rem;
  max-width: 50rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

textarea {
  resize: none;
  height: 10rem;
  width: 80%;
}

.invalid-text {
  font-size: 1rem;
  font-weight: 500;
  color: #c0392b;
  margin: 0.5rem 0;
}

.form-button {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: white;
  width: 10rem;
  color: white;
  margin: 1rem auto;
}

.form-button:hover {
  background-color: #282a3a;
}

.section-title {
  font-size: 2rem;
  margin: 2rem;
  font-weight: 300;
}

/* MATERIAL UI OVERRIDE */

.form-btn {
  margin-top: 1rem !important;
  background-color: #404252 !important;
}

.form-btn:hover {
  background-color: #282a3a Im !important;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: auto;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
}

.active {
  text-decoration: none;
  background-color: red;
}