.grid-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 5rem 18rem auto;
  min-height: 30rem;
  max-width: 90rem;
  margin: 2.5rem auto;
}

.grid-container__main-section {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-container__profile-card {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-container__categories {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-container__search-bar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
}